<p id="notice"><%= notice %></p>

<h3>Nearby locations</h3>
<ul>
  <% for location in @location.nearbys(100) %>
      <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> miles)</li>
  <% end %>
</ul>
